@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #ffffff;
  --secondary: rgba(0, 0, 0);
  --font-inter: "Inter", sans-serif;
  --font-dmsans: "DM Sans", sans-serif;
  --navbar-height: 80px;
  font-family: var(--font-dmsans);
  line-height: 1.5;
  font-weight: 400;
  color: var(--secondary);
  background-color: var(--primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style for active links */
nav a.active {
  font-weight: bold;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}